.question-container {
  border-bottom: 1px solid #DBDEF0;
  padding-bottom: 1rem;
}

.question-title {
  font-size: 1.2em;
  color: var(--text-color);
}

.btn-answer {
  border: 1px solid var(--dark-purple);
  text-align: center;
  padding: 4px 18px;
  border-radius: 12px;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-answer.selected {
  background-color: #D6DBF5;
  border: none;
}

.answer-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
